<launch>
  <arg name="port" default="/dev/input/js2"/>
  <node name="xbox" pkg="minesweeper_control" type="joy_teleop.py"/>
  <node name="joy_node" pkg="joy" type="joy_node">
    <param name="dev" type="string" value="$(arg port)"/>
  </node>
  <remap from="cmd_vel" to="diff_drive/cmd_vel"/>
</launch>
